.footer {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    background-color: $background-color;

    .container-footer {
        width: 100%;
        max-width: clamp(20rem, 80vw, 71.25rem); // Équivalent à 320px - 1140px
        margin: 0 auto;
        padding: 1rem;
        padding-top: 5vh;

        .portfolio-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .text-footer {

                .titre-footer {
                    color: $button;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    margin-bottom: 1.6rem;

                }
            }

            .div-logo {
                width: 100px;
                height: auto;

                .titre-social {
                    color: #ffffff;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }

                .div-link-social {
                    display: flex;

                    .lien-img {
                        display: flex;
                        justify-content: center;
                        margin-top: 1.6rem;

                        .header-logo {
                            height: 100%;
                            width: 2rem;
                            margin-right: 1rem;
                            object-fit: cover;
                        }
                    }
                }
            }

            p {
                color: white;
                margin-bottom: 2vh;
            }
        }

        .div-copyright {
            display: flex;
            border-top: 1px solid #ffffff;
            padding-top: 4vh;
            margin: auto;
            margin-bottom: 6vh;
            margin-top: 6vh;
            width: 92%;
            gap: 10px;

            @include tablet {
                flex-direction: column;
            }
        
            @include phone {
                flex-direction: column;
            }
        
            @include small-phone {
                flex-direction: column;
            }

            .copyright {
                color: #ffffff;
                width: 100%;
                text-align: center;
            }
        }
    }
}