.portfolio-footer {
    display: flex;
    flex-direction: column;
    padding: 10px 100px 10px 100px;
    background-color: $background-color;
    align-items: center;
    padding-top: 5vh;

    @include phone {
        padding: 10px 30px 10px 30px;
    }

    p {
        text-align: center;
        width: 30vw;
        color: white;
        margin-bottom: 2vh;

        @include phone {
            width: 90vw;
            padding: 10px 30px 10px 30px;
        }
    }

    .div-logo {
        width: 100px;
        height: auto;
        padding: 10px;

        .lien-img {
            // Styles du lien contenant l'image
            display: flex;
            justify-content: center;

            .header-logo {
                // Styles du logo
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}