// _header.scss

// Mixin pour les media queries de tablette
@mixin tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin phone {
    @media (max-width: 767px) {
        @content;
    }
}

.portfolio-header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-left: 100px;
    padding-right: 100px;
    position: sticky;
    top: 0;
    z-index: 60;
    opacity: 96%;
    background-color: $header;
    transition: background-color 0.3s;

    @include tablet {
        padding-left: 50px;
        padding-right: 50px;
    }

    @include phone {
        padding-left: 25px;
        padding-right: 25px;
    }

    .div-logo {
        width: 200px;
        height: auto;
        padding: 10px;

        @include tablet {
            margin-right: 30%;
        }

        @include phone {
            margin-right: 10vh;
        }

        .lien-img {
            // Styles du lien contenant l'image
            display: flex;
            align-items: center;
            justify-content: center;

            .header-logo {
                // Styles du logo
                height: 50%;
                width: 50%;
                object-fit: cover;
                transition: width 0.3s;
            }
        }
    }

    /* Sidenav menu */
    .sidenav {
        height: 100%;
        width: 350px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: -350px;
        background-color: $background-header;
        padding-top: 60px;
        transition: right 0.5s ease;

        @include tablet {
            width: 250px;
            background-color: $background-color;
        }

        @include phone {
            width: 200px;
            background-color: $background-color;
        }
    }

    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Sidenav menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
        display: flex;
        align-items: center;
    }

    .sidenav p {
        display: inline-block;
        vertical-align: middle;
    }

    .planete {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        margin-left: auto;
    }

    .satellite {
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        margin-left: auto;
    }

    .sidenav a:hover {
        color: white;
    }

    /* Active class */
    .sidenav.active {
        right: 0;
    }

    /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    .burger-icon {
        display: block;
        margin-top: 35px;
    }

    .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: $second-color-text;
        margin: 6px 0;
    }

    .header-links {
        // Styles de la liste des liens de l'en-tête
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;

        .li-links {
            // Styles des éléments de liste
            padding-right: 100px;
            position: relative;

            a {
                // Styles des liens de l'en-tête
                text-decoration: none;
                color: $text;
                list-style: none;
                position: relative;

                &::after {
                    content: ""; // Ajoute du contenu au pseudo-élément
                    position: absolute; // Positionne le pseudo-élément par rapport au lien
                    bottom: -2px; // Place la barre juste en dessous du lien
                    left: 0; // Position de départ de la barre (juste en dessous du premier lien)
                    width: 0; // Largeur initiale de la barre (0 pour la cacher)
                    height: 2px; // Hauteur de la barre
                    background-color: $text; // Couleur de la barre
                    transition: left 0.3s, width 0.3s; // Transition de 0.3 seconde pour l'animation de la position et de la largeur
                }

                &:hover::after {
                    width: 100%; // Largeur de la barre (pour la faire apparaître entièrement)
                    left: 0; // Position de départ de la barre (juste en dessous du lien survolé)
                }

                &.active::after {
                    width: 100%; // Largeur de la barre (pour la faire apparaître entièrement)
                    left: 0; // Position de départ de la barre (juste en dessous du lien actif)
                }
            }
        }
    }

    .ul-ecran-large {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        margin-top: 25px;
      }
      
      .ul-ecran-large li {
        display: flex;
        margin-right: 20px;
        position: relative;
      }
      
      .ul-ecran-large li:last-child {
        margin-right: 0;
      }
      
      .ul-ecran-large li a {
        text-decoration: none;
        color: $text;
        font-size: 18px;
        padding: 10px 20px;
        border: 1px solid transparent;
        border-radius: 5px;
        transition: border-color 0.3s, color 0.3s, background-color 0.3s;
        position: relative;
      }
      
      .ul-ecran-large li a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        z-index: -1;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      
      .ul-ecran-large li a p {
        margin: 0;
      }

      .ul-ecran-large li a p:hover {
        color: $second-color-text;
      }
      
      .ul-ecran-large li a p::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: $second-color-text;
        transition: width 0.3s;
      }
      
      .ul-ecran-large li a:hover p::after {
        width: 100%;
      }
      

}