// Mixin pour les media queries de tablette
@mixin tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

// Mixin pour les media queries de téléphone
@mixin phone {
    @media (max-width: 767px) {
        @content;
    }
}

.move-top-bottom {
    position: absolute;
    top: 0;
    animation: moveTopBottom 12s linear infinite alternate;

    @include tablet {
        animation: rotateSelf 24s linear infinite;
    }

    @include phone {
        animation: rotateSelf 24s linear infinite;
    }
}

.rotate-self {
    animation: rotateSelf 24s linear infinite;
    width: 400px;
    @include tablet {
        width: 300px;
    }

    @include phone {
        width :200px;
    }
}

.rotate-60 {
    animation: rotate60 3s linear infinite alternate;
}

.rotate-180 {
    animation: rotate180 3s linear infinite alternate;
}

@keyframes moveTopBottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(500px);
    }
}

@keyframes rotateSelf {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        /* Rotation complète */
    }
}

@keyframes rotate60 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(60deg);
    }
}

@keyframes rotate180 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}