@import 'variables';
@import 'animations';

@import 'components/Planetes';
@import 'components/Home';
@import 'components/TypeWriter';
@import 'components/Portfolio';
@import 'components/About';
@import 'components/Contact';
@import 'components/NotFound';
@import 'components/Carroussel';
@import 'sections/header';
@import 'sections/footer';
@import 'components/ContactForm';
@import 'components/GsapCarousel.scss';
@import 'components/MouseScroll';


@import 'legal/MentionsLegales';
@import 'legal/PolitiqueConfidentialite';

* {
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
}

body {
    background-color: $portfolio-background;
}

h1 {
    background: linear-gradient(45deg, $background-color, #556270);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Titres plus marqués */
h1, h2, h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 800; /* Ou Black pour un effet plus massif */
    letter-spacing: 1px; /* Ajoute de la prestance */
}

p {
    color: white;
    font-weight: 400;
    line-height: 1.6;
}


a,
li {
    text-decoration: none;
    color: $text;
}

ul {
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

@mixin big-screen {
    @media (min-width: 1200px) {
        max-width: 1140px;
        @content;
    }
}

@mixin screen {
    @media (min-width: 992px) and (max-width: 1199px) {
        max-width: 960px;
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 991px) {
        max-width: 720px;
        @content;
    }
}

@mixin phone {
    @media (min-width: 576px) and (max-width: 767px) {
        max-width: 540px;
        @content;
    }
}

@mixin small-phone {
    @media (max-width: 575px) {
        max-width: 100%;
        @content;
    }
}

@include small-phone;
@include phone;
@include tablet;
@include screen;
@include big-screen;