$portfolio-background: #051014ff;
$portfolio-couleur-text: #016fb9ff;
$portfolio-couleur-secondaire: #077187ff;
$portfolio-couleur-tertiaire: #0470A0;
$portfolio-orange-clair: #f45d01ff;
$portfolio-orange: #f2bb05ff;
$portfolio-orange-fonce: #d57500;
$portfolio-bleu-clair: #00dddd;
$portfolio-violet: #800080;


@mixin smartphone {
    min-width: 375px;
    margin: 0px 20px 0px 20px;
}

/*#44355B
#31263E
#221E22
#ECA72C
#EE5622*/