$portfolio-bleu-fonce: #18306a;
$portfolio-bleu: #1e3c83;
$portfolio-bleu-clair: #254ba2;
$portfolio-bleu-tresclair: #2f5dc9;
$portfolio-orange-clair: #ff9d00;
$portfolio-orange: #df8a00;
$portfolio-orange-fonce: #d57500;
$logo-width: 75px;


@mixin smartphone {
    min-width: 375px;
    margin: 0px 20px 0px 20px;
}