#About {
    height: 140vh;
    width: 100%;
    max-width: clamp(20rem, 80vw, 71.25rem); // Équivalent à 320px - 1140px
    margin: 0 auto;
    padding: 1rem;

    @include tablet {
        height: auto;
    }

    @include phone {
        height: auto;
    }

    @include small-phone {
        height: auto;
    }

    .background_about {
        margin-top: 15vh;
        width: 100%;
        height: auto;

        .background_purple {
            height: 70vh;

            @include tablet {
                height: auto;
            }
        
            @include phone {
                height: auto;
            }

            @include small-phone {
                height: auto;
            }
        }

        .second_title {
            color: white;
            text-align: center;
            margin-bottom: 5vh;
        }

        .div_text {
            display: flex;
            justify-content: center;
            margin-bottom: 10vh;

            .text {
                color: white;
                text-align: center;
                line-height: 1.5;
            }
        }

        .About {
            position: relative;
            opacity: 0;

            .Box {
                display: flex;
                box-shadow: 0px 5px 20px 0px #757575;
                border-color: #bbbbbb;
                border-style: solid;
                border-width: 1px;
                border-radius: 12px;

                @include tablet {
                    flex-direction: column;
                    box-shadow: none;
                    border-style: none;
                }

                @include phone {
                    flex-direction: column;
                    box-shadow: none;
                    border-style: none;
                    padding: 0;
                }

                @include small-phone {
                    flex-direction: column;
                    box-shadow: none;
                    border-style: none;
                    padding: 0;
                }

                .competences {
                    background-color: white;
                    color: $text;
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    width: 35vw;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    align-items: center;

                    @include tablet {
                        width: auto;
                        border: 2px solid $second-color-text;
                        border-bottom: 0px;
                    }
    
                    @include phone {
                        width: auto;
                        border: 2px solid $second-color-text;
                        border-bottom: 0px;
                    }

                    @include small-phone {
                        width: auto;
                        border: 2px solid $second-color-text;
                        border-bottom: 0px;
                    }

                    * {
                        text-align: center;
                    }

                    h2:nth-child(1) {
                        margin: 30px;
                        margin-bottom: 0px;
                        background: linear-gradient(45deg, $background-color, #556270);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    .competences_text {
                        width: 75%;
                    }

                    p {
                        color: #555;
                        margin-top: 10px;
                    }

                    h3 {
                        margin-top: 40px;
                        color: $second-color-text;
                        font-weight: 600;
                    }

                    li {
                        margin: 20px;
                    }
                }

                .onde-icon {
                    display: block;
                    margin-top: 35px;
                }

                .onde-icon span {
                    display: block;
                    width: 35px;
                    height: 5px;
                    background-color: #00cccc;
                    margin: 6px 0;
                }
            }
            .competences_frontend {
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;

                @include tablet {
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 12px;
                }

                @include phone {
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 12px;
                }

                @include small-phone {
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 12px;
                }
            }

            .competences_backend {
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;

                @include tablet {
                    border-bottom-right-radius: 12px;
                    border-bottom-left-radius: 12px;
                    border-top-right-radius: 0px;
                }

                @include phone {
                    border-bottom-right-radius: 12px;
                    border-bottom-left-radius: 12px;
                    border-top-right-radius: 0px;
                }

                @include small-phone {
                    border-bottom-right-radius: 12px;
                    border-bottom-left-radius: 12px;
                    border-top-right-radius: 0px;
                }
            }
        }
    }
}