.About {
    padding: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    .div-img-me {
        width: 400px;
        height: 400px;
        padding: 10px;
        background-color: $portfolio-background;
        border-radius: 400px;
        .img-me {
            border-radius: 300px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        border-radius: 10px;
        padding: 20px;

    .title {
        text-align: center;
        display: inline-block;
        padding: 10px 30px 10px 30px;
        background-color: black;
        color: whitesmoke;
        border-radius: 10px;
    }

    .paraghraphe1 {
        width: 100vh;
        margin-top: 40px;
        display: inline-block;
        padding: 30px;
        background-color: black;
        color: whitesmoke;
        border-radius: 10px;
    }

    .paraghraphe2 {
        width: 60vh;
        margin-top: 20px;
        display: inline-block;
        padding: 10px 30px 10px 30px;
        background-color: black;
        color: whitesmoke;
        border-radius: 10px;
    }

    ul {
        display: flex;
        li {
            .competences {
                margin-top: 40px;
                display: inline-block;
                padding: 10px 30px 10px 30px;
                background-color: black;
                color: whitesmoke;
                border-radius: 10px;
                margin-right: 20px;
            }
        }
    }
}
}