.contact {
    height: 70vh;
    background-color: $portfolio-bleu-clair;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .background-color {
        background-color: $portfolio-bleu-fonce;
        padding: 50px;
        border-radius: 20px;

        .contact-me {
            text-align: center;
            background-color:  $portfolio-orange-fonce;
            border-radius: 20px;
        }
        
        .div-color {
            background-color: $portfolio-orange-fonce;
            border-radius: 20px;
            padding: 5px 15px 15px 15px;
            margin-top: 30px;
            transition: transform 0.3s ease-in-out;

            .info-contact {
                margin-top: 10px;
            }

            &:hover {
              transform: scale(1.1);
            }
        }
    }
}