.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20vh;

    @include tablet {
        margin-top: 120vh;
    }

    @include phone {
        margin-top: 80vh;
        flex-direction: column-reverse;
    }

    .background_contact {
        background-color: $background-color;
        width: 100vw;
        height: 40vh;

        .second_title_contact {
            color: white;
            font-size: 2rem;
            text-align: center;
            padding-top: 10vh;
            margin-bottom: 5vh;

            @include tablet {
                font-size: 1.5rem;
            }

            @include phone {
                font-size: 1.5rem;
            }
        }

        .div_text_contact {
            display: flex;
            justify-content: center;

            .text_contact {
                color: white;
                margin-bottom: 5vh;
                width: 30vw;
                text-align: center;
                font-size: 1.25rem;
                line-height: 1.5;

                @include tablet {
                    width: 90vw;
                }

                @include phone {
                    width: 90vw;
                }
            }
        }
    }

    .list_contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        margin-top: 10vh;
        margin-bottom: 30vh;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }

        @include phone {
            flex-direction: column;
            align-items: center;
        }
    }

    .list_contact>div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include tablet {
            margin-top: 5vh;
        }

        @include phone {
            margin-top: 5vh;
        }
    }

    .list_contact>div>a {
        font-size: 16px;
        text-align: center;

        @include phone {
            font-size: 1.25rem;
        }
    }

    .list_contact>div>img {
        width: 30px;
        margin-right: 10px;
    }

    .div_email {
        padding: 20px;
        border: 2px solid $background-color;
        border-radius: 999px;
        background-color: white;

        @include tablet {
            width: 70vw;
            margin-top: 0vh !important;
        }

        @include phone {
            width: 70vw;
            margin-top: 0vh !important;
            padding: 10px;
        }
    }

    .div_telephone {
        padding: 20px;
        border: 2px solid $background-color;
        border-radius: 999px;
        background-color: white;

        @include tablet {
            width: 70vw;
        }

        @include phone {
            width: 70vw;
            padding: 10px;
        }
    }

    .div_linkedin {
        padding: 20px;
        border: 2px solid $background-color;
        border-radius: 999px;
        background-color: white;

        @include tablet {
            width: 70vw;
        }

        @include phone {
            width: 70vw;
            padding: 10px;
        }
    }
}