.home {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    @include tablet {
        height: 90vh;
    }

    @include phone {
        height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .background {
        overflow: hidden;

        @include tablet {
            overflow: visible;
        }

        @include phone {
            overflow: visible;
        }

        .rose_planete {
            margin-top: 140px;
            background-color: $background-color;
            border-radius: 300px;

            @include tablet {
                width: 300px;
                right: 20vw;
                margin-top: 65px;
            }

            @include phone {
                width: 150px;
                right: 20vw;
                margin-top: 65px;
            }
        }
    }

    #fond {
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    .conteneur {
        display: flex;
        flex-direction: row;
        position: relative;
        padding-top: 120px;
        z-index: 10;

        @include tablet {
            padding-top: 60px;
            padding-left: 0px;
        }

        @include phone {
            padding-top: 60px;
            padding-left: 30px;
            padding-right: 30px;
        }

        .bienvenue {
            font-size: 3rem;
            color: $text;

            @include tablet {
                font-size: 28px;
            }

            @include phone {
                font-size: 20px;
            }
        }

        #title {
            font-family: 'lato', sans-serif;
            font-weight: 300;
            font-size: 50px;
            letter-spacing: 10px;
            margin-top: 10px;
            max-width: 700px;

            @include tablet {
                width: 430px;
            }

            @include phone {
                height: 10px;
                width: 200px;
            }
        }
        

        h1 {
            font-size: 50px;
            z-index: 2;
            color: $portfolio-violet;
            width: 100vh;
        }

        .typewriter {
            @include tablet {
                font-size: medium;
            }

            @include phone {
                font-size: x-small;
            }
        }

        .div-p {
            width: 30vw;

            @include tablet {
                width: 40vh;
            }

            @include phone {
                width: 80vw;
                padding-left: 0;
            }

            p {
                padding-top: 40px;
                font-size: 1.5em;
                line-height: 1.5;
                color: $text;

                @include tablet {
                    font-size: small;
                }

                @include phone {
                    font-size: xx-small;
                }
            }

        }

        .div-links {
            display: flex;
            padding-top: 20px;

            @include tablet {
                padding-left: 0px;
            }

            @include phone {
                padding-left: 0px;
                justify-content: center;
            }

            .div-link {
                width: auto;
                height: auto;
                padding: 40px;

                @include tablet {
                    padding: 20px;
                }

                @include phone {
                    padding: 12px;
                }

                .link {
                    padding: 20px;
                    border: 2px solid $background-color;
                    color: $text;
                    transition: background-color 0.3s;
                    border-radius: 9999px;

                    @include tablet {
                        padding: 10px;
                    }

                    &:hover {
                        background-color: $background-color;
                        color: white;
                    }

                    @include phone {
                        padding: 10px;
                    }
                }
            }
        }
    }

    .rond {
        margin: auto;
        margin-top: 7%;
        display: flex;
        justify-content: center;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-color: $portfolio-violet;

        .div-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: auto;

            img {
                height: auto;
                width: 90%;
                object-fit: cover;
            }
        }
    }
}