.home {
    position: relative;
    height: 100vh; // La hauteur de la div sera égale à 100% de la hauteur de l'écran
    width: 100%; // La largeur de la div sera égale à 100% de la largeur disponible

    @include tablet {
        height: 90vh;
    }

    @include phone {
        height: 65vh;   
    }

    .background {
        overflow: hidden;

        @include tablet {
            overflow: visible;
        }

        @include phone {
            overflow: visible;
        }

        .rose_planete {
            position: absolute;
            bottom: 35vh;
            right: 20vh;

            @include tablet {
                width: 300px;
                right: 20vw;
                margin-top: 65px;
            }

            @include phone {
                width: 200px;
                right: 20vw;
                margin-top: 65px;
            }
        }
    }

    #fond {
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    .conteneur {
        display: flex;
        flex-direction: row;
        position: relative;
        padding-top: 120px;
        padding-left: 250px;
        z-index: 10;

        @include tablet {
            padding-top: 60px;
            padding-left: 125px;
        }

        @include phone {
            padding-top: 60px;
            padding-left: 30px;
            padding-right: 30px;
        }

        .bienvenue {
            font-size: 38px;
            color: whitesmoke;
            padding-top: 100px;
            padding-bottom: 20px;

            @include tablet {
                font-size: 28px;
            }

            @include phone {
                font-size: 20px;
            }
        }

        h1 {
            font-size: 50px;
            z-index: 2;
            color: $portfolio-orange;
            width: 100vh;
        }

        .typewriter {
            @include tablet {
                font-size: medium;
            }

            @include phone {
                font-size: x-small;
            }
        }

        .div-p {
            padding-left: 90px;
            width: 625px;

            @include tablet {
                width: 40vh;
            }

            @include phone {
                width: 80vw;
                padding-left: 0;
            }

            p {
                padding-top: 40px;
                font-size: x-large;
                text-align: center;
                color: white;

                @include tablet {
                    font-size: small;
                }

                @include phone {
                    font-size: xx-small;
                }
            }

        }

        .div-links {
            display: flex;
            padding-left: 150px;
            padding-top: 20px;

            @include tablet {
                padding-left: 0px;
            }

            @include phone {
                padding-left: 0px;
                justify-content: center;
            }

            .div-link {
                width: auto;
                height: auto;
                padding: 40px;

                @include phone {
                    padding: 12px;
                }

                .link {
                    padding: 20px;
                    border: 2px solid $portfolio-bleu-clair;
                    border-radius: 40px;
                    color: white;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: $portfolio-bleu-clair;
                        color: $portfolio-violet;
                    }

                    @include phone {
                        padding: 10px;
                    }
                }
            }
        }
    }

    .rond {
        margin: auto;
        margin-top: 7%;
        display: flex;
        justify-content: center;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-color: $portfolio-couleur-text;

        .div-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: auto;

            img {
                height: auto;
                width: 90%;
                object-fit: cover;
            }
        }
    }
}