.div_planetes {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;

    @include tablet {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    @include phone {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .lien {

        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include phone {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .rose_planete {
            position: relative;
            width: 450px;
            z-index: 21;
            transition: transform 0.3s ease-out;

            @include tablet {
                width: 350px;
            }

            @include phone {
                width: 250px;
            }
        }

        .rose_planete:hover {
            transform: scale(1.2);
        }

        .bleu_planete {
            width: 380px;
            position: relative;
            z-index: 21;
            transition: transform 0.3s ease-out;

            @include tablet {
                width: 280px;
            }

            @include phone {
                width: 230px;
            }
        }

        .bleu_planete:hover {
            transform: scale(1.2);
        }

        .violette_planete {
            width: 400px;
            position: relative;
            z-index: 21;
            transition: transform 0.3s ease-out;

            @include tablet {
                width: 300px;
            }

            @include phone {
                width: 240px;
            }
        }

        .violette_planete:hover {
            transform: scale(1.2);
        }

        .satellite {
            height: 300px;
            position: relative;
            z-index: 21;
            transition: transform 0.3s ease-out;

            @include tablet {
                width: 200px;
                height: auto;
            }

            @include phone {
                width: 150px;
                height: auto;
            }
        }

        .satellite:hover {
            transform: scale(1.2);
        }
    }

    .planete {
        @include tablet {
            padding: 70px;
            margin-bottom: 50px;
        }

        @include phone {
            padding: 70px;
            margin-bottom: 50px;
        }

        .nom {
            position: relative;
            display: block;
            opacity: 1;
            color: whitesmoke;
            margin-top: 30px;
            text-align: center;
            transition: opacity 0.3s ease-out;
            z-index: 50;

            @include tablet {
                opacity: 1;
            }

            @include phone {
                opacity: 1;
            }
        }
    }

    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        opacity: 0;
        pointer-events: none;
        animation: fadeInOut 1s ease-in-out;
        z-index: 15;
    }

    &:hover .overlay {
        opacity: 1;
        pointer-events: auto;
    }
}