.portfolio {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: clamp(20rem, 80vw, 71.25rem); // Équivalent à 320px - 1140px
    margin: 0 auto;
    padding: 1rem;

    .background_portfolio {
        width: 100%;

        .second_title {
            color: white;
            text-align: center;
            margin-bottom: 5vh;
        }

        .div_text {
            display: flex;
            justify-content: center;

            .text {
                color: white;
                text-align: center;
                line-height: 1.5;

                @include big-screen {
                    margin-bottom: 20vh;
                }

                @include screen {
                    margin-bottom: 20vh;
                }
            }
        }
    }

    .div-projets-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 60px 0px 60px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        margin-top: 70px;
        margin-bottom: 150px;

        .projet {
            width: 100vh;
            height: auto;
            margin-bottom: 100px;
            padding: 50px;
            border-radius: 10px;

            .image-container {
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 99.2%;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));

                    .projet-title {
                        position: absolute;
                        bottom: 0;
                        margin: 20px;
                        margin-bottom: 50px;
                        color: $text;
                    }

                    .div-projet-filtre {
                        .projet-filtre {
                            position: absolute;
                            bottom: 0;
                            margin: 20px;
                            color: $text;
                        }

                        .div-cliquez-ici {
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            width: 100%;

                            .cliquez-ici {
                                background-color: #ffffff;
                                padding: 20px;
                                color: $second-color-text;
                                border-radius: 30px;
                            }
                        }
                    }
                }
            }

            .div-competences-problemes {
                display: flex;
                flex-direction: row;

                .div-competences {
                    width: 40vw;
                    background-color: #201057;
                    padding: 30px 0 30px 0;
                    border-bottom-left-radius: 5px;
                    border-right: 1px solid #00cccc;

                    .title-competences {
                        text-align: center;
                        margin-bottom: 20px;
                        color: $text;
                    }

                    .projet-ul {
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .projet-li {
                            padding-right: 20px;
                            transition: transform 0.3s ease-in-out;
                            padding-bottom: 20px;

                            .projet-attribut {
                                color: #00cccc;
                            }
                        }
                    }
                }

                .div-problemes {
                    background-color: #201057;
                    border-left: 1px solid #00cccc;
                    padding: 30px 0 30px 0;
                    width: 40vw;
                    border-bottom-right-radius: 5px;

                    .title-problemes {
                        color: $text;
                        margin-bottom: 20px;
                        text-align: center;
                    }

                    .background-problemes {

                        .ul-problemes {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .li-problemes {
                                padding-right: 0px;
                                margin-right: 0px;
                                padding-bottom: 20px;

                                .problemes {
                                    color: #00cccc;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}